/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Basic styles */

html {
  background: #ebebeb;
}

body {
  font: 14px/1.5 'Open Sans', sans-serif;
  font-weight: 300;
  color: #323232;
}

h2, strong {
  font-weight: 600;
}

/* Because a grid would be an overkill... */

.left,
.right {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Clearfix hack (http://nicolasgallagher.com/micro-clearfix-hack/) */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* About */

section.about {
  display: none;
  padding: 10px;
  margin: 10px;
  background: #ebebeb;
}

/* Header */

header {
  height: 40px;
  padding: 10px;
  color: #fff;
  background: #323232;
}

/* Room/ Name/ About */

header .room,
header .name,
header .about {
  padding: 5px;
  background: #505050;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

header .about {
  cursor: pointer;
  background: #828282;
}

/* Animation for new chat messages */

@keyframes highlight {
  from {
    background: #0099cc;
  }
  to {
    background: #fff;
  }
}

@-webkit-keyframes highlight {
  from {
    background: #0099cc;
  }
  to {
    background: #fff;
  }
}

/* Chat messages */

.conversation div {
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
  background: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #bbbbbb;
     -moz-box-shadow: 0 1px 2px #bbbbbb;
          box-shadow: 0 1px 2px #bbbbbb;
  -webkit-animation: highlight 5s;
          animation: highlight 5s;
}

/* Input (avoid Chrome's input-highlighting) */

input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

.chat input {
  display: block;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #bbbbbb;
}

/* Color for error-messages */

.error {
  color: #f23d3d;
}
